@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box; }

body {
  background-color: #fff4fd;
  font-family: 'Chakra Petch', sans-serif; }

.cualquiera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  .cualquiera .col-1 {
    width: 8.33%; }
  .cualquiera .col-2 {
    width: 16.66%; }
  .cualquiera .col-3 {
    width: 24.99%; }
  .cualquiera .col-4 {
    width: 33.32%; }
  .cualquiera .col-5 {
    width: 41.65%; }
  .cualquiera .col-6 {
    width: 49.98%; }
  .cualquiera .col-7 {
    width: 58.31%; }
  .cualquiera .col-8 {
    width: 66.64%; }
  .cualquiera .col-9 {
    width: 74.97%; }
  .cualquiera .col-10 {
    width: 83.3%; }
  .cualquiera .col-11 {
    width: 91.63%; }
  .cualquiera .col-12 {
    width: 100%; }

header div p {
  height: 23px;
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  box-shadow: 0 1px 0 0 #110038; }
header .logo {
  padding: 39px 0 0 91px; }
  header .logo a {
    text-decoration: none; }
    header .logo a #arrow {
      padding-bottom: 10px;
      margin-right: 7px; }
header .container1 {
  padding: 44px 16px 0 0; }
header .boton1 {
  width: 144px;
  height: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  margin: 0 16px; }
header .boton2 {
  width: 131px;
  height: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
header .boton3 {
  margin: -4px;
  width: 36px;
  height: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
header .menu-desplegable {
  width: 167px;
  padding: 10px 10px 0 10px;
  background-color: brown;
  margin-left: 180px;
  position: absolute;
  z-index: 1; }
  header .menu-desplegable button {
    width: 150px;
    height: 36px;
    margin-bottom: 10px; }
header .container- {
  padding-left: 90px; }
  header .container- .container2 {
    width: 1200px;
    height: 99px;
    position: relative;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF; }
    header .container- .container2 .title {
      background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
      height: 24px;
      padding: 3px;
      margin: 3px; }
      header .container- .container2 .title h2 {
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0; }
    header .container- .container2 input {
      margin: 15px;
      height: 48px; }
    header .container- .container2 #button_search {
      width: 102px;
      height: 36px;
      margin-top: 18px; }
    header .container- .container2 .desplegable {
      background: #E6E6E6;
      box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
      width: 1200px;
      height: 160px;
      margin-top: 99px;
      padding: 16px 15px;
      position: absolute; }
      header .container- .container2 .desplegable .items {
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        width: 1057px;
        height: 36px;
        text-align: start;
        margin-bottom: 10px; }

.seccion1 {
  padding: 64px 0 0 0;
  margin-left: 90px; }
  .seccion1 .sugerencia {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    margin-top: 10px;
    width: 1200px;
    height: 32px; }
    .seccion1 .sugerencia h3 {
      font-family: 'Chakra Petch', sans-serif;
      font-size: 14px;
      color: #110038;
      letter-spacing: 0;
      margin: 7px; }
  .seccion1 .gifs1 {
    padding: 22px 0; }
    .seccion1 .gifs1 .cards {
      background: #e6e6e6;
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
      width: 288px;
      height: 313px;
      margin-right: 16px; }
      .seccion1 .gifs1 .cards .bodyCards {
        width: 280px;
        height: 280px;
        margin: 0 4px 4px 4px;
        display: flex;
        align-items: flex-end; }
        .seccion1 .gifs1 .cards .bodyCards img {
          width: 100%;
          height: 100%; }
        .seccion1 .gifs1 .cards .bodyCards .seeMore {
          width: 81px;
          height: 34px;
          position: absolute;
          background-color: #4180F6;
          margin: -7px 15px; }
      .seccion1 .gifs1 .cards .contenedor- {
        width: 280px;
        height: 24px;
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        margin: 3px 4px 2px 4px; }
        .seccion1 .gifs1 .cards .contenedor- h3 {
          font-size: 14px;
          width: 90%;
          color: #fff;
          margin: 3px 0 3px 2px; }
        .seccion1 .gifs1 .cards .contenedor- button {
          border: none;
          background: transparent;
          margin: 5px 4px;
          width: 16px;
          height: 14px; }
  .seccion1 .gifs2 {
    margin-top: 16px; }
    .seccion1 .gifs2 .cards2 {
      width: 592px;
      height: 298px;
      background-color: grey;
      margin-right: 16px;
      margin-top: 16px; }
      .seccion1 .gifs2 .cards2 img {
        width: 100%;
        height: 100%; }
    .seccion1 .gifs2 .cards {
      width: 286px;
      height: 296px;
      margin-right: 16px;
      margin-top: 16px;
    /* .contenedor-{
              position: relative;
              width: 286px;
              height: 296px;
              margin-bottom: 10px;
              
              align-items: flex-end;
              img{
                  width: 100%;
                  height: 100%;
              }
              .containertitle{
                 position: absolute;
                 background-color: green;
                 width: 100%;
                  .titulito{
                      font-size: 14px;
                      height: 24px;
                      color: #ffffff;
                      
                  }
                  
                            
              }
  
              
          }
         */ }
      .seccion1 .gifs2 .cards img {
        width: 100%;
        height: 100%; }
    .seccion1 .gifs2 .cards3 {
      background-color: red;
      width: 286px;
      height: 296px;
      margin-right: 16px;
      margin-top: 16px; }
      .seccion1 .gifs2 .cards3 .contenedor- {
        position: relative;
        width: 286px;
        height: 296px;
        margin-bottom: 10px;
        align-items: flex-end; }
        .seccion1 .gifs2 .cards3 .contenedor- img {
          width: 100%;
          height: 100%; }
        .seccion1 .gifs2 .cards3 .contenedor- .containertitle {
          position: absolute;
          background-color: green;
          width: 100%; }
          .seccion1 .gifs2 .cards3 .contenedor- .containertitle .titulito {
            font-size: 14px;
            height: 24px;
            color: #ffffff; }

.darkBody {
  background-color: #110038; }

section {
  margin-top: 78px; }
  section .containerGeneral {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    padding: 3px; }
    section .containerGeneral .makeGif {
      color: #ffffff;
      background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
      padding-left: 4px;
      font-family: "Chakra Petch", sans-serif;
      font-size: 14px; }
    section .containerGeneral .tituloCrear {
      padding: 30px 0 7px 25px; }
      section .containerGeneral .tituloCrear img {
        margin-right: 16px; }
    section .containerGeneral p {
      padding-left: 73px;
      font-family: "Chakra Petch", sans-serif;
      font-size: 15px;
      color: #110038;
      letter-spacing: 0;
      line-height: 28px; }
    section .containerGeneral button {
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      width: 144px;
      height: 36px;
      margin: 28px 36px 36px 0;
      font-size: 16px; }
    section .containerGeneral .cancelar {
      background: #fff4fd;
      margin-right: 16px; }
    section .containerGeneral .comenzar {
      background: #f7c9f3; }
    section .containerGeneral #repeatCapture {
      margin-left: 75px;
      background: #fff4fd;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }
    section .containerGeneral .cancelar_ {
      background: #FFF4FD;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }

.seccionVideo {
  margin-bottom: 268px; }
  .seccionVideo .containerGeneral {
    width: 860px;
    height: 548px; }
    .seccionVideo .containerGeneral button {
      margin: 0 16px 16px 0; }
    .seccionVideo .containerGeneral .videoContainer {
      display: none;
      background: #e6e6e6;
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
      width: 832px;
      height: 434px;
      margin: 11px 17px 24px 11px; }
      .seccionVideo .containerGeneral .videoContainer #video_init {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
        padding: 3px; }
    .seccionVideo .containerGeneral .timer-input {
      margin-right: 21px; }
      .seccionVideo .containerGeneral .timer-input h3 {
        width: 124px;
        height: 36px;
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
        text-align: center;
        padding: 7px; }
    .seccionVideo .containerGeneral .button_ {
      position: relative;
      justify-items: flex-end;
      width: 180px;
      height: 36px;
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      margin-right: 9px; }
      .seccionVideo .containerGeneral .button_ div {
        position: absolute;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        width: 36px;
        height: 36px;
        top: -1px;
        left: -1px; }
        .seccionVideo .containerGeneral .button_ div img {
          margin: 8px; }
      .seccionVideo .containerGeneral .button_ h5 {
        text-align: center;
        font-family: "Chakra Petch", sans-serif;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        margin: 8px; }
    .seccionVideo .containerGeneral .listo {
      background: #ff6161;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
      margin-left: 198px; }
      .seccionVideo .containerGeneral .listo h5 {
        color: #ffffff; }
    .seccionVideo .containerGeneral .seccionGlobo {
      text-align: center;
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
      margin: 8px 14px 21px 8px;
      width: 838px;
      height: 440px;
      padding-top: 139px; }
      .seccionVideo .containerGeneral .seccionGlobo h3 {
        margin-bottom: 41px;
        margin-top: 8px; }
      .seccionVideo .containerGeneral .seccionGlobo progress[value] {
        width: 100%;
        height: 100%;
        position: relative;
        /* Reinicializar estilos */
        appearance: none;
        -webkit-appearance: none; }
      .seccionVideo .containerGeneral .seccionGlobo progress[value]::-webkit-progress-bar {
        background-color: #b4b4b4; }
      .seccionVideo .containerGeneral .seccionGlobo progress[value]::-webkit-progress-value {
        background-color: #f7c9f3; }
      .seccionVideo .containerGeneral .seccionGlobo .progress-div {
        width: 324px;
        height: 24px;
        margin: auto; }
      .seccionVideo .containerGeneral .seccionGlobo p {
        margin-top: 8px;
        padding: 0; }
        .seccionVideo .containerGeneral .seccionGlobo p span {
          text-decoration: line-through; }
  .seccionVideo .Éxito {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 721px;
    height: 391px;
    padding: 3px; }
    .seccionVideo .Éxito .makeGif {
      background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
      height: 24px;
      display: flex; }
      .seccionVideo .Éxito .makeGif h3 {
        color: white;
        font-size: 14px;
        margin-left: 4px; }
      .seccionVideo .Éxito .makeGif a {
        margin-left: 37px; }
    .seccionVideo .Éxito .container_imgFinal {
      background: #FFFFFF;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
      width: 371px;
      height: 196px;
      margin: 27px; }
    .seccionVideo .Éxito .container_buttons {
      display: block; }
      .seccionVideo .Éxito .container_buttons button {
        width: 256px;
        height: 36px;
        margin-bottom: 14px;
        background: #FFF4FD;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
      .seccionVideo .Éxito .container_buttons h3 {
        margin-top: 49px;
        margin-bottom: 16px; }
    .seccionVideo .Éxito .Listo_final {
      display: flex;
      justify-content: flex-end; }
      .seccionVideo .Éxito .Listo_final button {
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        width: 144px;
        height: 36px;
        margin-right: 46px; }

.seccion1 .mis_gifos {
  margin-top: 16px; }
  .seccion1 .mis_gifos .cards {
    width: 288px;
    height: 298px;
    margin: 0 16px 16px 0; }
    .seccion1 .mis_gifos .cards img {
      width: 100%;
      height: 100%; }

/*# sourceMappingURL=styles.css.map */
