@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box; }

body {
  background-color: #fff4fd;
  font-family: 'Chakra Petch', sans-serif; }

.cualquiera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  .cualquiera .col-1 {
    width: 8.33%; }
  .cualquiera .col-2 {
    width: 16.66%; }
  .cualquiera .col-3 {
    width: 24.99%; }
  .cualquiera .col-4 {
    width: 33.32%; }
  .cualquiera .col-5 {
    width: 41.65%; }
  .cualquiera .col-6 {
    width: 49.98%; }
  .cualquiera .col-7 {
    width: 58.31%; }
  .cualquiera .col-8 {
    width: 66.64%; }
  .cualquiera .col-9 {
    width: 74.97%; }
  .cualquiera .col-10 {
    width: 83.3%; }
  .cualquiera .col-11 {
    width: 91.63%; }
  .cualquiera .col-12 {
    width: 100%; }

header div p {
  height: 23px;
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  box-shadow: 0 1px 0 0 #110038; }
header .logo {
  padding: 39px 0 0 91px; }
  header .logo a {
    text-decoration: none; }
    header .logo a #arrow {
      padding-bottom: 10px;
      margin-right: 7px; }
header .container1 {
  padding: 44px 16px 0 0; }
header .hoverboton1 {
  width: 144px;
  height: 36px;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  padding: 2px;
  margin: 0 16px; }
  header .hoverboton1 .boton1 {
    width: 100%;
    height: 100%;
    background: #f7c9f3;
    border: none; }
    header .hoverboton1 .boton1:hover {
      border: 1px dotted #000000; }
header .hoverboton2 {
  padding: 2px;
  width: 131px;
  height: 36px;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }
  header .hoverboton2 .boton2 {
    width: 100%;
    height: 100%;
    background: #f7c9f3;
    border: none; }
    header .hoverboton2 .boton2:hover {
      border: 1px dotted #000000; }
header .hoverboton3 {
  padding: 2px;
  width: 36px;
  height: 36px;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }
  header .hoverboton3 .boton3 {
    width: 100%;
    height: 100%;
    background: #f7c9f3;
    border: none; }
    header .hoverboton3 .boton3:hover {
      border: 1px dotted #000000; }
header .menu-desplegable {
  width: 167px;
  padding: 10px 10px 0 10px;
  margin-left: 175px;
  position: absolute;
  z-index: 1;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-top: 36px; }
  header .menu-desplegable button {
    width: 150px;
    height: 36px;
    margin-bottom: 10px; }
header #hoverMisGifos:hover {
  border: 1px dotted #000000;
  width: 95px;
  height: 22px;
  margin-left: 15px; }
header #hoverMisGifos a {
  text-decoration: none;
  padding-left: 16.5px;
  font-family: ChakraPetch-Regular;
  font-size: 15px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px; }
  header #hoverMisGifos a span {
    text-decoration: underline; }
header .container- {
  padding-left: 90px; }
  header .container- .container2 {
    width: 1200px;
    height: 99px;
    position: relative;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }
    header .container- .container2 .title {
      background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
      height: 24px;
      padding: 3px;
      margin: 3px; }
      header .container- .container2 .title h2 {
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0; }
    header .container- .container2 input {
      margin: 15px;
      height: 48px; }
    header .container- .container2 #button_search {
      padding: 2px;
      width: 102px;
      height: 36px;
      margin-top: 18px;
      background: #e6e6e6;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff; }
      header .container- .container2 #button_search div {
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto; }
        header .container- .container2 #button_search div h5 {
          font-family: "Chakra Petch", sans-serif;
          font-size: 16px;
          color: #b4b4b4;
          letter-spacing: 0;
          line-height: 18px;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 10px; }
        header .container- .container2 #button_search div img {
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 10px; }
        header .container- .container2 #button_search div:hover {
          border: 1px dotted #000000; }
    header .container- .container2 .desplegable {
      background: #e6e6e6;
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
      width: 1200px;
      height: 160px;
      margin-top: 99px;
      padding: 16px 15px;
      position: absolute; }
      header .container- .container2 .desplegable .items {
        background: #f0f0f0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
        width: 1057px;
        height: 36px;
        text-align: start;
        margin-bottom: 10px; }

.seccion1 {
  margin-top: 0;
  padding: 64px 0 0 0;
  margin-left: 90px; }
  .seccion1 .sugerencia {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    margin-top: 10px;
    width: 1200px;
    height: 32px; }
    .seccion1 .sugerencia h3 {
      font-family: "Chakra Petch", sans-serif;
      font-size: 14px;
      color: #110038;
      letter-spacing: 0;
      margin: 7px; }
  .seccion1 .gifs1 {
    padding: 22px 0 64px 0; }
    .seccion1 .gifs1 .cards {
      background: #e6e6e6;
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
      width: 288px;
      height: 313px;
      margin-right: 16px; }
      .seccion1 .gifs1 .cards .bodyCards {
        width: 280px;
        height: 280px;
        margin: 0 4px 4px 4px;
        display: flex;
        align-items: flex-end; }
        .seccion1 .gifs1 .cards .bodyCards img {
          width: 100%;
          height: 100%; }
          .seccion1 .gifs1 .cards .bodyCards img:hover {
            border: 1px dotted #000000; }
        .seccion1 .gifs1 .cards .bodyCards .botonsirri {
          width: 81px;
          height: 34px;
          padding: 2px;
          position: absolute;
          margin: 15px 15px;
          border: 1px solid #4c2f99;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff; }
          .seccion1 .gifs1 .cards .bodyCards .botonsirri .seeMore {
            width: 100%;
            height: 100%;
            background-color: #4180F6;
            border: none; }
            .seccion1 .gifs1 .cards .bodyCards .botonsirri .seeMore:hover {
              border: 1px dotted #000000; }
      .seccion1 .gifs1 .cards .contenedor- {
        width: 280px;
        height: 24px;
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        margin: 3px 4px 2px 4px; }
        .seccion1 .gifs1 .cards .contenedor- h3 {
          font-size: 14px;
          width: 90%;
          color: #fff;
          margin: 3px 0 3px 2px; }
        .seccion1 .gifs1 .cards .contenedor- button {
          border: none;
          background: transparent;
          margin: 5px 4px;
          width: 16px;
          height: 14px; }
  .seccion1 .gifs2 {
    margin-top: 16px; }
    .seccion1 .gifs2 .cards2 {
      width: 592px;
      height: 298px;
      position: relative;
      margin-right: 16px;
      margin-top: 16px; }
      .seccion1 .gifs2 .cards2 .contenedor- {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        align-items: flex-end; }
        .seccion1 .gifs2 .cards2 .contenedor-:hover {
          padding: 4px;
          background: #e6e6e6;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }
        .seccion1 .gifs2 .cards2 .contenedor- img {
          width: 100%;
          height: 100%; }
          .seccion1 .gifs2 .cards2 .contenedor- img:hover {
            border: 1px dotted #000000; }
        .seccion1 .gifs2 .cards2 .contenedor- .containerTitle {
          display: none; }
          .seccion1 .gifs2 .cards2 .contenedor- .containerTitle .titulito {
            display: none; }
        .seccion1 .gifs2 .cards2 .contenedor-:hover .containerTitle {
          position: absolute;
          display: block;
          background-color: green;
          width: 100%;
          height: 24px; }
          .seccion1 .gifs2 .cards2 .contenedor-:hover .containerTitle .titulito {
            display: block;
            font-size: 14px;
            color: #ffffff;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
    .seccion1 .gifs2 .cards {
      width: 286px;
      height: 296px;
      margin-right: 18px;
      margin-top: 16px; }
      .seccion1 .gifs2 .cards img {
        width: 100%;
        height: 100%; }
    .seccion1 .gifs2 .cards3 {
      position: relative;
      width: 286px;
      height: 296px;
      margin-right: 16px;
      margin-top: 16px; }
      .seccion1 .gifs2 .cards3 .contenedor- {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        align-items: flex-end; }
        .seccion1 .gifs2 .cards3 .contenedor-:hover {
          padding: 4px;
          background: #e6e6e6;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }
        .seccion1 .gifs2 .cards3 .contenedor- img {
          width: 100%;
          height: 100%; }
          .seccion1 .gifs2 .cards3 .contenedor- img:hover {
            border: 1px dotted #000000; }
        .seccion1 .gifs2 .cards3 .contenedor- .containerTitle {
          display: none; }
          .seccion1 .gifs2 .cards3 .contenedor- .containerTitle .titulito {
            display: none; }
        .seccion1 .gifs2 .cards3 .contenedor-:hover .containerTitle {
          position: absolute;
          display: block;
          background-color: green;
          width: 286px;
          height: 24px; }
          .seccion1 .gifs2 .cards3 .contenedor-:hover .containerTitle .titulito {
            display: flex;
            font-size: 14px;
            color: #ffffff;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }

.darkBody {
  background-color: #110038; }
  .darkBody header div p {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    box-shadow: 0 1px 0 0 #110038; }
  .darkBody header .hoverboton1 .boton1 {
    width: 100%;
    height: 100%;
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px; }
  .darkBody header .hoverboton2 .boton2 {
    width: 100%;
    height: 100%;
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px; }
  .darkBody header .hoverboton3 .boton3 {
    width: 100%;
    height: 100%;
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff; }
  .darkBody header #hoverMisGifos a {
    text-decoration: none;
    padding-left: 16.5px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px; }
  .darkBody header .container- .container2 .title {
    height: 24px;
    padding: 3px;
    margin: 3px;
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }
  .darkBody .container- .container2 {
    width: 1200px;
    height: 99px;
    position: relative;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF; }
    .darkBody .container- .container2 #button_search .button_specific {
      background: #B4B4B4;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF; }
      .darkBody .container- .container2 #button_search .button_specific h5 {
        font-family: 'Chakra Petch', sans-serif;
        font-size: 16px;
        color: #8F8F8F;
        letter-spacing: 0;
        line-height: 18px; }
  .darkBody .seccion1 .gifs1 .cards {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF; }
    .darkBody .seccion1 .gifs1 .cards .contenedor- {
      margin: 3px 0 3px 2px;
      background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%); }
      .darkBody .seccion1 .gifs1 .cards .contenedor- h3 {
        font-size: 14px;
        width: 90%;
        color: #fff; }

section {
  margin-top: 78px; }
  section .containerGeneral {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    padding: 3px; }
    section .containerGeneral .makeGif {
      color: #ffffff;
      background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
      padding-left: 4px;
      font-family: "Chakra Petch", sans-serif;
      font-size: 14px; }
    section .containerGeneral .tituloCrear {
      padding: 30px 0 7px 25px; }
      section .containerGeneral .tituloCrear img {
        margin-right: 16px; }
    section .containerGeneral p {
      padding-left: 73px;
      font-family: "Chakra Petch", sans-serif;
      font-size: 15px;
      color: #110038;
      letter-spacing: 0;
      line-height: 28px; }
    section .containerGeneral .hover {
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      width: 144px;
      height: 36px;
      margin: 28px 36px 36px 0;
      font-size: 16px;
      padding: 2px; }
    section .containerGeneral button {
      border: none;
      background: #f7c9f3;
      height: 100%;
      width: 100%; }
      section .containerGeneral button:hover {
        border: 1px dotted #000000; }
    section .containerGeneral .cancelar {
      background: #fff4fd;
      margin-right: 16px; }
    section .containerGeneral .comenzar {
      background: #f7c9f3; }
    section .containerGeneral #uploadGif {
      width: 144px;
      height: 36px;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }
    section .containerGeneral #repeatCapture {
      margin-left: 75px;
      background: #fff4fd;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      width: 144px;
      height: 36px; }
    section .containerGeneral .cancelar_ {
      background: #FFF4FD;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
      width: 144px;
      height: 36px; }

.seccionVideo {
  margin-bottom: 268px; }
  .seccionVideo .containerGeneral {
    width: 860px;
    height: 548px; }
    .seccionVideo .containerGeneral button {
      margin: 0 16px 16px 0; }
    .seccionVideo .containerGeneral .videoContainer {
      background: #e6e6e6;
      box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
      width: 832px;
      height: 434px;
      margin: 11px 17px 24px 11px; }
      .seccionVideo .containerGeneral .videoContainer #video_init {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
        padding: 3px; }
    .seccionVideo .containerGeneral .timer-input {
      margin-right: 21px; }
      .seccionVideo .containerGeneral .timer-input h3 {
        width: 124px;
        height: 36px;
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
        text-align: center;
        padding: 7px; }
    .seccionVideo .containerGeneral .button_ {
      position: relative;
      justify-items: flex-end;
      width: 180px;
      height: 36px;
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      margin-right: 9px; }
      .seccionVideo .containerGeneral .button_ div {
        position: absolute;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
        width: 36px;
        height: 36px;
        top: -1px;
        left: -1px; }
        .seccionVideo .containerGeneral .button_ div img {
          margin: 8px; }
      .seccionVideo .containerGeneral .button_ h5 {
        text-align: center;
        font-family: "Chakra Petch", sans-serif;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
        margin: 8px; }
    .seccionVideo .containerGeneral .listo {
      background: #ff6161;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
      margin-left: 198px; }
      .seccionVideo .containerGeneral .listo h5 {
        color: #ffffff; }
    .seccionVideo .containerGeneral .seccionGlobo {
      text-align: center;
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
      margin: 8px 14px 21px 8px;
      width: 838px;
      height: 440px;
      padding-top: 139px; }
      .seccionVideo .containerGeneral .seccionGlobo h3 {
        margin-bottom: 41px;
        margin-top: 8px; }
      .seccionVideo .containerGeneral .seccionGlobo progress[value] {
        width: 100%;
        height: 100%;
        position: relative;
        /* Reinicializar estilos */
        appearance: none;
        -webkit-appearance: none; }
      .seccionVideo .containerGeneral .seccionGlobo progress[value]::-webkit-progress-bar {
        background-color: #b4b4b4; }
      .seccionVideo .containerGeneral .seccionGlobo progress[value]::-webkit-progress-value {
        background-color: #f7c9f3; }
      .seccionVideo .containerGeneral .seccionGlobo .progress-div {
        width: 324px;
        height: 24px;
        margin: auto; }
      .seccionVideo .containerGeneral .seccionGlobo p {
        margin-top: 8px;
        padding: 0; }
        .seccionVideo .containerGeneral .seccionGlobo p span {
          text-decoration: line-through; }
  .seccionVideo .Éxito {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 721px;
    height: 391px;
    padding: 3px; }
    .seccionVideo .Éxito .makeGif {
      background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
      height: 24px;
      display: flex; }
      .seccionVideo .Éxito .makeGif h3 {
        color: white;
        font-size: 14px;
        margin-left: 4px; }
      .seccionVideo .Éxito .makeGif a {
        margin-left: 37px; }
    .seccionVideo .Éxito .container_imgFinal {
      background: #FFFFFF;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
      width: 371px;
      height: 196px;
      margin: 27px;
      padding: 2px 3px 3px; }
      .seccionVideo .Éxito .container_imgFinal img {
        width: 100%;
        height: 100%; }
    .seccionVideo .Éxito .container_buttons {
      display: block; }
      .seccionVideo .Éxito .container_buttons button {
        width: 256px;
        height: 36px;
        margin-bottom: 14px;
        background: #FFF4FD;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF; }
      .seccionVideo .Éxito .container_buttons h3 {
        margin-top: 49px;
        margin-bottom: 16px; }
    .seccionVideo .Éxito .Listo_final {
      display: flex;
      justify-content: flex-end; }
      .seccionVideo .Éxito .Listo_final button {
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
        width: 144px;
        height: 36px;
        margin-right: 46px; }

.seccion1 .mis_gifos {
  margin-top: 16px; }
  .seccion1 .mis_gifos .cards {
    width: 288px;
    height: 298px;
    margin: 0 16px 16px 0; }
    .seccion1 .mis_gifos .cards img {
      width: 100%;
      height: 100%; }

/*# sourceMappingURL=styles.css.map */
